
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/css/bootstrap.css" rel="stylesheet" />
<script src="~/js/bootstrap.js"></script>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProduct</title>
</head>

<body>
    <div>
        <form method="post" class="form-control">
            <input class="form-text" type="text" name="Name" placeholder="Name" />
            <br />
            <input class="form-text" type="text" name="Price" placeholder="Price" />
            <br />
            <input class="form-text" type="text" name="Description" placeholder="Description" />
            <br />
            <input class="form-text" type="text" name="CategoryID" placeholder="Category ID" />
            <br />
            <br />
            <button class="btn btn-dark">Ürünü Ekle</button>
        </form>
    </div>
</body>

</html>
