@using EntityLayer.Concrete

@{
    List<Category> categories = ViewBag.categories;
    List<Product> products = ViewBag.products;

    Layout = null;
}

<!DOCTYPE html>
<link href="~/css/bootstrap.css" rel="stylesheet" />
<script src="~/js/bootstrap.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container container-fluid">
            <span class="navbar-brand">Restoran İsmi</span>
            <a class="float-end btn btn-primary btn-sm" href="@Url.Action("Index", "Siparis")">Giriş Yap</a>
        </div>
    </nav>

    <div class="container container-fluid">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 container container-fluid">
            <br />
            @foreach (var category in categories)
            {
                <br />
                <h4 class="text-center">@category.CategoryName</h4>
                <table class="table small">
                    <tr>
                        <th>Ürün Adı</th>
                        <th class="text-end">Fiyatı</th>
                    </tr>
                    @foreach (var product in products)
                    {
                        if (product.CategoryID == category.CategoryID)
                        {
                            <tr>
                                <td class="text-start col-4">@product.Name</td>
                                <td class="text-end col-4">@product.Price TL</td>
                            </tr>
                        }
                    }
                </table>
            }
        </div>
        <div class="col-lg-3"></div>

        <a class="btn btn-primary" href="/MainMenu/AddProduct">Ürün Ekle</a>

    </div>
</body>
</html>
