
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/css/bootstrap.css" rel="stylesheet" />
<script src="~/js/bootstrap.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Masa Ekle</title>
</head>
<body>
    <div class="container-fluid">
        <form class="form-control" method="post">
            <input type="text" name="Status" placeholder="Status"/>
            <br />
            <input type="text" name="OpeningDate" placeholder="openingDate"/>
            <br />
            <button class="btn btn-dark">Masa Ekle</button>
        </form>
    </div>
</body>
</html>
