
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LogInLayout.cshtml";
}

<form action="@Url.Action("LogIn", "LogIn")" method="post">
    <div class="row text-center" role="form" style="top:55px; bottom:45px; left:0; right:0; position:fixed;">
        <div class="col"></div>
        <div class="col-sm-8 col-lg-6 col-xl-4 mt-auto mb-auto">
            <h3 class="my-3">Giriş Yap</h3>
            <div hidden class="alert alert-danger my-3" role="alert" id="alert">
                <i class="fas fa-exclamation me-2"></i>
                Lütfen bilgilerinizi kontrol ediniz.
            </div>
            <div class="my-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                    <input class="form-control" type="tel" name="PhoneNumber" placeholder="Telefon Numarası" maxlength="10" id="phone" />
                </div>
                <div class="clearfix"></div>
                <div class="input-group mt-2">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                    <input type="password" class="form-control" name="Password" placeholder="Şifre" id="password">
                    <span role="button" class="input-group-text" id="showPassword"><i class="fas fa-eye"></i></span>
                </div>
            </div>
            <button class="btn btn-sm btn-primary fs-6 my-3" type="button" id="login"><i class="fas fa-sign-in-alt me-2"></i>Giriş Yap</button>

        </div>
        <div class="col"></div>
    </div>
</form>

@section button{
    <a class="float-end" href="@Url.Action("Entry", "LogIn")">
        Geri Dön
        <i class="fas fa-sign-out-alt ms-2"></i>
    </a>
}

@section script{
    <script type="text/javascript">
        $('document').ready(function () {
            $('#showPassword').click(function () {
                $('#password').attr("type", $('#password').attr("type") == "password" ? "text" : "password");
            });

            $('input').on('input', function () {
                $('#alert').attr('hidden', true);
            });

            $('#login').click(function () {
                console.log("deneme");
                var phoneNumber = $('#phone').val();
                var pass = $('#password').val();
                console.log("phone:" + phoneNumber);
                console.log("pass:" + pass);
                $.ajax({
                    url: "@Url.Action("CheckUser", "LogIn")",
                    type: 'post',
                    dataType: 'json',
                    data: "{phone:'" + phoneNumber + "',password:'" + pass + "'}",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.confirm) {
                            $('#alert').attr('hidden', true);
                            window.location.href = data.destination;
                        }
                        else {
                            $('#alert').attr('hidden', false);
                        }
                    },
                    error: function () {

                    }
                });
            });
        });
    </script>
}